<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/about.css">
</head>

<body class="body">
  <div class="div-0">
    <div class="about">About Travel Trove<a href="/main"> <img class="air" src="images/airplane-ticket.png"> </a>
    </div>
    <div class="div-1">
      <div class="div-2">
        <h1 class="jh">
          What is Travel Trove?
        </h1>
        <p class="jp">
          Travel Trove is your ultimate travel companion, a blogging website dedicated to all the wanderlust souls out
          there. Whether you're an avid traveler, a weekend explorer, or someone who dreams of far-off places, Travel
          Trove is here to inspire and guide you through every step of your journey.
        </p>
      </div>
      <img src="images/about/jawa o.png" loading="lazy" class="jawa">
    </div>
  </div>


  <div class="div-3">
    <div class="div-4">
      <img src="images/about/mission o.png" loading="lazy" class="mi">
      <div class="div-5">
        <h1 class="mh">
          Our Mission
        </h1>
        <p class="mp">
          At Travel Trove, we aim to create a vibrant community of travelers who share their experiences, tips, and
          stories from around the world. Our mission is to provide valuable insights, practical advice, and inspiration
          to
          help you make the most out of your travel adventures. We believe that travel enriches our lives, broadens our
          horizons, and creates unforgettable memories.
        </p>
      </div>
    </div>
  </div>


  <div class="div-6">
    <div class="div-7">
      <div class="div-8">
        <h1 class="fh">
          Who Created Travel Trove?
        </h1>
        <p class="fp">
          Travel Trove was created by Naren on June 1st, 2024. As someone who dreams of exploring the world, Naren
          envisioned a platform where fellow travelers could come together to share their journeys and learn from each
          other. With a desire to discover new destinations and a knack for capturing the essence of places through
          words, Naren set out to create a space where travel enthusiasts can find and share inspiration.

        </p>
      </div>
      <img src="images/about/founder o.png" loading="lazy" class="naren">
    </div>
  </div>


  <div class="div-9">
    <div class="div-10">
      <img src="images/about/cu.png" loading="lazy" class="cu">
      <div class="div-11">
        <h1 class="mlh">
          Contact Us
        </h1>
        <p class="mlp">
          We love hearing from our readers and fellow travelers! Have any questions, suggestions, or just want to say
          hello? Feel free to reach out to us through:
        </p>
        <div>
          <a href="mailto:ramnaren.d.luffy@gmail.com"><img src="images/about/email.png" class="fm"></a>
          <a href="https://www.linkedin.com/in/ramnarend"><img src="images/about/linkedin.png" class="fm"></a>
          <a href="https://x.com/naren_d_luffy"><img src="images/about/twitter.png" class="fm"></a>
        </div>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="lets">Let's explore the world together!</div>
  <div class="happy"><a class="hap" href="/main"> Happy Travels!</a></div>
  <div class="copy">Copyright © <%= new Date().getFullYear() %></div>
</footer>
</html>